body { 
   background-color: rgb(0, 119, 255); }
  
   body{font-family: Arial, Helvetica;}

    .menu{list-style: none;
    padding: 0;
    background: #690ba0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
   }
.menu li a{
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
}
.menu li{
  display: inline-block;
  text-align: center;

}

.menu li a:hover{
  background: #ef8354;

}
.articulo li a{
  animation-direction: alternate-reversesss;
  text-decoration: #690ba0;
  text-align: center;
  padding: 0%;
}


